body{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height :100vh;
	background:url("../image/vvv.jpg");
	background-position:center;
	background-size:cover;
	font-family:Montserrat;
}
.nav{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:80px;
	padding:0;
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.table{
	float:left;
	
	line-height:80px;
	margin:0 6em;
	
}
.table ul{
	list-style:none;
}
.table ul li{
	display:inline-block;
	width:100px;
	height:35px;
	opacity:.6;
	
}
.table ul li a{
	text-decoration:none;
	color:black;
	font-size:20px;
	margin-left:0;
	font-weight:light;
	padding:0 20px;
	
}
.table ul li a:hover{
	font-weight:bold;
}
.header{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
}
.header h1{
	color:#171414;
	font-size:300%;
	font-weight:600;
	text-transform:uppercase;
}
.header h2{
    color:#26030C;
	font-size:100%;
	font-weight:600;
	text-transform:uppercase;
}
.header p{
	color:#26030C;
	text-transform:uppercase;
	font-style:futura;
	font-weight:bold;
	font-size:200%;
}
	
}
	
}